/**
    定义全局变量，组件，混合器等

**/
$--default-border-radius: 8px;
$--default-color: #4937EA;
$--default-light-gray: #989898;
$--default-list-gray: #F0F0F0FF;
$--default-black: #000000;
$--default-white: #ffffff;
$--default-light-gray-2: #F0F0F0;
$--default-input-inner: #EDEDED;
$--default-pink:#E50054;

// 将 px 转成 rem    转换公式: 10px = 0.1 rem
html {
    font-size: 100px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

ul {
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: $--default-black;
}

p {
    padding: 0;
    margin: 0;
}


/**
*** 表单样式
**/
.iworku-form-line {
    .el-input__inner {
        border-radius: 0px;
        border-left: 0px;
        border-top: 0px;
        border-right: 0px;
    }

    .el-form-item__label {
        font-size: 14px;
        font-weight: 400;
        color: $--default-light-gray;
    }
}

/**
***  弹窗  离顶部高度
**/
.el-dialog {
    margin-top: 5vh !important;
}


/**
***   上传
**/
.iworku-upload {
    border-radius: $--default-border-radius;
    height: 80px;
    width: 80px;
    background-color: $--default-color;
    color: $--default-white;
    position: relative;

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -35%);
        height: 80px;
        width: 80px;
        line-height: 20px;
        font-size: 12px;
    }

    .el-upload:focus {
        border-color: $--default-white;
        color: $--default-white;
    }

    .el-upload--picture-card {
        height: 80px;
        width: 80px;
        line-height: 80px;
        background-color: $--default-color;
        color: $--default-white;
        border: none;
    }
}

.iworku-upload-card {
    .el-upload-list__item {
        width: 80px;
        height: 80px;
    }
    .el-upload--picture-card {
        height: 80px;
        width: 80px;
        line-height: 80px;
        background-color: $--default-color;
        color: $--default-white;
        border: none;
    }
    .content {
        height: 80px;
    }
    .text {
        display: block;
        position: absolute;
        top: 0;
        width: 80px;
        height: 80px;
        transform: translateY(25%);
    }
}

/**
*** 表格操作
**/
.table-operate__list {
    li {
        padding: 5px 15px;
    }

    li:hover {
        background-color: $--default-color;
        color: $--default-white;
        a {
            color: $--default-white;
        }
    }
    li:first-child:hover {
        border-top-left-radius: $--default-border-radius;
        border-top-right-radius: $--default-border-radius;
    }
    li:last-child:hover {
        border-bottom-left-radius: $--default-border-radius;
        border-bottom-right-radius: $--default-border-radius;
    }
}

/**
*** 卡片模块背景
**/
.iworku-card{
    background-color: white;
    border-radius: 8px;
    padding:10px 21px;
    margin-bottom: 10px;
}

/**
** 对话框中的顶部表单
**/
.iworku-dialog-menu {
    display: flex;
    font-size:20px;
    justify-content: center;
    li {
        position: relative;
        padding: .2rem;
        font-weight:500;
        cursor: pointer;
    }
    li:hover {
        color: $--default-color;
    }
    &--selected::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 180%);
        content: "";
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: $--default-color;
        
    }
    &--selected::after {
        margin-top: 5px;
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        border-radius: 2.5px;
        background-color: $--default-color;
    }
}

/** 
** 下拉菜单
**/
.iworku-popper {
    padding: 10px 0;
    li {
        padding: 0 20px;
    }
}


.el-select-dropdown__item {
    padding: 0 20px !important;
}

/**
    对话框中的按钮样式修改
**/
.iworku-confirm-cancel-button, .iworku-confirm-cancel-button:hover {
    background: #4232d3;
    border-color: #4232d3;
    color: #FFFFFF;
    outline: none;
}
.iworku-confirm-button {
    background: #FFFFFF !important;
    border: 1px solid #EBEAEE !important;
    color: #606266 !important;
    outline: none;
}
/** 
去掉el-scrollbar的横向滚动条
*/ 
.el-scrollbar .el-scrollbar__wrap {
    overflow-x: hidden;
  }
