/**
    定义全局变量，组件，混合器等

**/
$--default-border-radius: 8px;
$--default-color: #4937EA;
$--default-light-gray: #989898;
$--default-black: #000000;
$--default-white: #ffffff;
$--default-light-gray-2: #F0F0F0;


// 将 px 转成 rem    转换公式: 10px = 0.1 rem
html {
    font-size: 100px;
    height: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

ul {
    padding: 0;
    margin: 0;

    li {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

a {
    text-decoration: none;
    color: $--default-light-gray;
}
p {
    padding: 0;
    margin: 0;
}


/**
*** 表单样式
**/
.iworku-form-line {
    .el-input__inner {
        border-radius: 0px;
        border-left: 0px;
        border-top: 0px;
        border-right: 0px;
    }

    .el-form-item__label {
        font-size: 14px;
        font-weight: 400;
        color: $--default-light-gray;
    }
}

/**
***  弹窗  离顶部高度
**/
.el-dialog {
    margin-top: 5vh !important;
}